/*estas son las css en el orden que las valla acomodando*/
*{
	color: #798e94;
	font-family: sans-serif;
	font-size: 12px;
}

body{
	background-color: #E2ECEE;
	margin: auto;
	width: 400px;
}
#menu {
	float:right;
	padding:40px 19px 0 0
}
#menu li {
	float:left;
	padding-right:28px
}
#menu .end {
	padding-right:0
}
#menu li a {
	color:#A7A7A7;
	display:block;
	font-size:16px;
	text-decoration:none; 
}
#menu li a:hover, #menu #active a {
	color:#13c5ff
}
.formulario{
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin-top: 12px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
	width: 291px; 
	/*margin-left: -352px;*/
	margin-top: 123px;
	height: auto;
}
.formulario label{
	display: block; 
	font-weight: bold;
}
.formulario div{
	margin-bottom: 15px;
}
.formulario h1 div{ 
	
	font-size: 20px;
}
.formulario input[type='text'], .formulario textarea{
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.formulario input[type='text']:focus, .formulario textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.formulario input[type='text'].invalido, .formulario textarea.invalido{
	box-shadow:0 0 0 3px #FFC9C9;
}
.formulario input[type='password'], .formulario textarea{
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.formulario input[type='password']:focus, .formulario textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.formulario input[type='password'].invalido, .formulario textarea.invalido{
	box-shadow:0 0 0 3px #FFC9C9;
}
.formulario input[type='submit']{
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	
	background: #e4f1f6; 
	background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%); 
}
.formulario input[type='submit']:hover{
	background: #edfcff; 
	background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%); 
}
.formulario input[type='submit']:active{
	background: #cfe6ef; 
	background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
	background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.body{	 
	border: 1px solid #CED5D7;
	border-radius: 6px; 
	background-color: white;
	border-bottom-width: 1px; 
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;     
    margin: -258px 0px 0px 44px; 
    padding: 45px 45px 0px 45px; 
    width: 497px;
    height: auto;
}
.button {
	 
    border: 1px solid #CED5D7;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 0 3px #EEF5F7;
    font-weight: bold;     
    text-shadow: 1px 1px 0 white;
    margin-left: 577px;
    margin-top: -58px;
}
.button{
	background: #edfcff; 
	background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%); 
}
.button{
	background: #cfe6ef; 
	background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
	background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.cabezera{
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin-top: 50px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
	margin-left: -353px;
    
    margin-top: 11px;
    margin-right: -235px; 
    padding-bottom: 91px; 
    border-bottom-width: 1px; 
    margin-bottom: -117px;
}
/*todo lo que sorve lo vorro de aqui en adelante*/
.error{
    background-color: #BC1010;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    padding: 6px 12px;
    position: absolute;
}
.registro{
    background-color: #AFAFAF;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -64px;
    padding: 6px 12px;
    
}
.error:before{
    border-color: transparent #BC1010 transparent transparent;
    border-style: solid;
    border-width: 6px 8px;
    content: "";
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    top: 8px;
    width: 0;
}
.result_fail{
    background: none repeat scroll 0 0 #BC1010;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
.result_ok{
    background: none repeat scroll 0 0 #1EA700;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
.formulario select[type='select'], .formulario textarea{
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.formulario select[type='select']:focus, .formulario textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.formulario select[type='select'].invalido, .formulario textarea.invalido{
	box-shadow:0 0 0 3px #FFC9C9;
}
.formulario option[type='option'], .formulario textarea{
	padding: 2px 5px;
    resize: both;
    width: 244px;
}
.formulario option[type='option']:focus, .formulario textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.formulario option[type='option'].invalido, .formulario textarea.invalido{
	box-shadow:0 0 0 3px #FFC9C9;
}
.formulario input[type='file'], .formulario textarea{
	 
	width: 276px;
	 
}
 


 
.wrapper {width:100%;overflow:hidden}

 


.col1, .col2, .col3, .cols {float:left}
.col1 {width:290px}
.col2 {width:240px}
.col3 {width:252px}

.tabs {}
.tabs ul.nav {margin-top:-5px}
.tabs ul.nav li {line-height:30px}

.tabs ul.nav li a:hover, .tabs ul.nav .selected a {color:#13c5ff;text-decoration:none}
.tabs .content {}
.tabs .tab-content {}
 
 .line1 {background-position:198px 0}
  .col1 {width:160px}
  .col2 {width:685px}
  #content2,   .body4,   .body4 main {height:11px;padding:0;margin:0;font-size:0px;line-height:0px}
.imagen
{
	width: 146px; 
	height: 146px;
	margin-top: 18px;
}

.galeria
{
list-style: none outside none; 
float: left; 

}